<!DOCTYPE html>
<html lan = "en">
<head>
    <title>Goat Database GUI</title>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "wideth=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Goat Database</h1><br><br>
    <div>
        <h2>Search by goat id</h2>
        <p>Enter the id of the goat you want to search below:</p>
    </div>
    <div>
        <form action = "/SearchGoatId" method="POST">
            <input type = "number" name = "animal_id"><br>
            <input type = "submit" value = "Enter"><br><br><br><br>
        </form>
    </div>
    <div>
        <h2>Search by group</h2>
        <p>Enter the quality range of goats you want to search below (Low, Middle, High):</p>
    </div>
    <div>
        <form action = "/SearchGroup" method="POST">
            <select name = "group" class = "input">
                <option>Low</option>
                <option>Middle</option>
                <option>High</option>
            </select><br><br>
            <input type = "submit" value = "Enter"><br><br>
        </form>
    </div>
    <div>
        <br><br>
        <button type = "button" onclick = "getHelp()">Help</button>
        <p id = "helpSection", hidden = "hidden">The first box searches for a goat based on the provided goat id. The second box returns the goats that fall into one of the 3 quality ranges that are selected.</p>
        <script>
            function getHelp() {
                let p = document.getElementById("helpSection");
                p.removeAttribute("hidden");
            }
        </script>
    </div>
</body>
</html>